#foot{
    background-image: url('assets/night-NASA-space-vehicle-fire-spaceship-22108-wallhere.com.jpg');
    width: 100%;
    height: 100%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.foot-cont{
    margin-bottom: 10px;
}