
#news{
    display: flex;
    /*
    box-shadow: 0px 0px 30px #1f1f1f;
    background-color: rgb(7, 7, 7);
    box-shadow: 0px 0px 30px #1f1f1fa9;
    background-color: rgba(14, 14, 14, 0.897);
    */
    border-radius: 3px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 50px;
    margin-top: 35px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 5px;
}

#twitter{
    margin-right: 15px;
    /*
    height:500px; 
    width: 20%;
    overflow:auto;
    */
}

.image-of-the-day{
    width: 90%;
}

#intro{
    margin-top: 100px;
}

.image-box {
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    background-image: url('/public/columbia_glacier_still.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    overflow: visible;
    border-radius: 3px;
}

.image-box:hover{
    cursor: pointer;
    transform: translate(-0.5%, -0.5%);
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.486);
    transition: 0.5s;
}

.tag{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    padding: 0.5% 1.5%;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.719);
}

.overlay-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.719);
    padding: 10px 20px;
    padding-left: 25px;
    top: 10%;
    right: 2%;
    width: 30%;
    
    transform: translate(45%, 10%);
    
    color: white;
    text-align: left;
}

.overlay-text h1{
    font-weight: 700;
    font-size: 36;
}

.overlay-text p{
    font-size: 14px;
}